<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style.css">

    <title>Document</title>
</head>

<body>
    <% include ./partials/header %>

        <!-- <div class="container-input">
            <form action="/livres/add" method="post">
                <label for="livretitle">Titre du livre</label>
                <input type="text" name="livretitle" id="livretitle">

                <label for="livrecouverture">Couverture</label>
                <input type="text" name="livrecouverture" id="livrecouverture">

                <label for="livreauteur">Auteur</label>
                <input type="text" name="livreauteur" id="livreauteur">

                <label for="livreyear">Date</label>
                <input type="text" name="livreyear" id="livreyear">

                <label for="livredescription">Description</label>
                <input type="text" name="livredescription" id="livredescription">

                <button type="submit">Ajouter</button>
            </form>
        </div> -->
        <div class="container">
                <form action="/livres/add" method="post">
                    <div class="form-group">
                        <label for="livretitle">Titre</label>
                        <input type="text" class="form-control" name="livretitle" placeholder=>
                    </div>

                    <div class="form-group">
                            <label for="livrecouv">Couverture</label>
                            <input type="text" class="form-control" name="livrecouv" placeholder=>
                        </div>
    
                    <div class="form-group">
                        <label for="livreauteur">Auteur</label>
                        <input type="text" class="form-control" name="livreauteur" placeholder="">
                    </div>
                    <div class="form-group">
                            <label for="livreyear">Date</label>
                            <input type="text" class="form-control" name="livreyear" placeholder=>
                        </div>
                    <div class="form-group">
                        <label for="livredescription">Description</label>
                        <textarea class="form-control" name="livredescription" rows="3"></textarea>
                    </div>



                    
                   


                        
                    <button class="btn btn-info" type="submit">Ajouter</button>
                </form>
        </div>
        
        <% include ./partials/footer %>

</body>


</html>