<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Express Livres</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div class="central">
        <% include ./partials/header %>
        
        <h1>Details sur "Le maitre des illusions"</h1>
        <div>
        <%= livreId %> !
        </div>
        
        
    </div>
    <% include ./partials/footer %>

    
</body>
</html>